body {
    margin: 0;
  }
.container{
    max-width:1170px;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;

}
.wrapper{
    padding-top:180px;
    padding-bottom:100px;
    background-image:url("イメージ募集中");
    background-size:cover;
    text-align: center;
}
header{
    height:65px;
    background-color:rgba(46,46,46,0.9);
    color: rgba(255,255,255,1.0);
}
.header-left{
    float:left;
    font-size: 40px;
    line-height: 65px;
}

.header-right{
    float: right;
}
.header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
a{
    text-decoration: none;
}
.header-right a{
    font-size: 65px;
    line-height: 65px;
    display: block;
    color: rgba(255,255,255,1.0);
    width: 100px;
    text-align: center;
}
footer{
    text-align: center;
}