body {
    margin: 0;
}
a{
    text-decoration: none;
    
}

.container{
    max-width:1170px;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;

}
.wrapper{
    padding-top:180px;
    padding-bottom:100px;
    background-image:url("イメージ募集中");
    background-size:cover;
    text-align: center;
}
.wrapper-member{
    padding-top:65px;
    padding-bottom:100px;
}
header{
    height:65px;
    background-color:rgba(46,46,46,0.9);
    color: rgba(255,255,255,1.0);
    position:fixed;
    top:0;
    z-index:10;
    width: 100%;
}
.header-left{
    float:left;
    font-size: 40px;
    line-height: 65px;
    color: white;
}

.header-left a{
    color: white;
}
.header-right{
    float: right;
}
.menu-icon{
    display: none;
    color: rgba(255,255,255,1.0);
    float: right;
    text-align: center;
    font-size: 65px;
    line-height: 65px;
}
.header-right a :hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.header-right a{
    font-size: 65px;
    line-height: 65px;
    display: inline-block;
    color: rgba(255,255,255,1.0);
    width: 100px;
    text-align: center;
    margin: 0px 10px;
}
footer{
    text-align: center;
}